/*
    Author: Malika Banga
    URI: https://malikabanga.github.io/
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 16px;
    background: #1d1d1d;
}

a {
    text-decoration: none;
    color: #F72D2D;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="button"],
input[type="submit"],
button,
.btn {
    display: inline-block;
    color: #fff;
    background: #F72D2D;
    padding: 3px 15px;
    line-height: 1.2;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus,
.btn:hover,
.btn:focus {
    outline: none;
    background: #fff;
    color: #F72D2D;
}

.btn-lg {
    font-size: 21px;
}
.menu-item .btn-white,
.btn-white {
    background: #Fff;
    color: #000;
}
.menu-item .btn-white:hover,
.btn-white:hover {
    background: #000;
    color: #fff;
}
pre {
    background: #f7f7f7;
    color: #000;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0 0 4px #7d7d7d;
    overflow: auto;
}


/* ---------- Common Classes------------ */

.row {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.col-6 {
    width: 49%;
    float: left;
}

.col-3 {
    float: left;
    width: 32%;
    margin-left: 2%;
    margin-bottom: 30px;
}

.first {
    clear: left;
}

body:not(.home) #content-wrap {
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

#scroll-to-top {
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 15px;
    width: 27px;
    height: 27px;
    display: none;
}

#scroll-to-top a {
    background: #fff;
    padding: 10px 6px;
    cursor: pointer;
    display: block;
    width: inherit;
    height: inherit;
}

#scroll-to-top a:before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    color: #0b0100;
}

#scroll-to-top a:hover {
    opacity: 0.8;
}

.site-header {
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #0b0100;
}

.site-header .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}


/* --------------------Navigation------------------- */

#menu {
    display: none;
}

.primary-menu {
    margin: 0;
    padding: 0;
}

.primary-menu li {
    display: inline-block;
}

.primary-menu a {
    color: #fff;
    display: block;
    line-height: normal;
    text-align: center;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    display: inline-block;
}

.menu-item-name {
    position: relative;
    display: inline-block;
    padding: 1px 14px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.menu-item-name:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.primary-menu a:hover span,
.primary-menu a:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.primary-menu a:hover span:before,
.primary-menu a:focus span:before {
    background: #F72D2D;
}

.sub-menu {
    display: none;
}


/* Home */

.container {
    padding-top: 80px;
}

.home h2 {
    text-align: center;
    margin-bottom: 0;
}

.home .site-content .row {
    padding-top: 35px;
    padding-bottom: 35px;
}

.home .site-footer {
    margin-top: 0;
}

.admin-bar #main-banner {
    height: -webkit-calc(100vh - 32px);
    height: calc(100vh - 32px);
}

#main-banner {
    text-align: center;
    padding-top: 52px;
    background: url("../images/banner2.jpg") left top;
    height: 100vh;
    display: table;
    width: 100%;
}

#main-banner .row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
}

.banner-img {
    display: inline-block;
    margin: auto;
}

.name-title {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    margin: 0;
    line-height: 1.5;
}

.sub-title {
    margin: 0;
}

#skills {
    position: relative;
    background: url("../images/skills-bg.jpg") no-repeat top right;
    background-size: cover;
}

#skills .row {
    padding-top: 35px;
    padding-bottom: 35px;
}

#skills img {
    display: block;
    margin: 50px auto 20px;
}
#skills li{
    float: left;
    width: 49%;
    margin-bottom: 10px;
    font-weight: 500;
}
#work {
    background: #ef4a51;
}

#work .entry-title {
    margin-bottom: 2px;
}

#work .entry-title a {
    color: #0b0100;
    font-weight: normal;
    font-size: 26px;
}

#work .entry-title a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#work .entry-header p {
    margin-top: 0;
}

#work .entry-header {
    margin-bottom: 20px;
}

#work .work {
    margin-top: 35px;
}

#work .entry-content a:hover {
    opacity: 0.8;
}

#contact h3 {
    margin-bottom: 0;
}

.home .type-projects {
    width: 45%;
    margin-left: 10%;
    float: left;
    margin-top: 40px;
}

.home .type-projects:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
}

.home .type-projects .entry-title {
    margin-bottom: 0;
    font-size: 18px;
}

.home .type-projects .entry-title a {
    color: #fff;
}

.home .type-projects .entry-title a:hover {
    color: #F72D2D;
}

.home .type-projects .entry-header {
    position: relative;
    overflow: hidden;
    font-size: 18px;
}

.home .type-projects .entry-header:hover .entry-meta {
    opacity: 1.0;
}

.home .type-projects .entry-meta {
    height: 0;
}

.home .type-projects .entry-content {
    position: absolute;
    z-index: 2;
    background: #0b0100;
    width: 100%;
    padding: 10px 15px;
    -webkit-transform: translate(0, -39px);
    -ms-transform: translate(0, -39px);
    transform: translate(0, -39px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.home .type-projects:hover .entry-content {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.home .type-projects:hover .entry-meta {
    height: auto;
}

.home .type-projects:hover .entry-header > a {
    display: block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translate(0, -43px);
    -ms-transform: translate(0, -43px);
    transform: translate(0, -43px);
}

.home .type-projects img {
    display: block;
}

.home .type-projects .tech-list {
    padding-left: 0;
    margin: 0 0 7px;
}

.home .type-projects .tech-list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 9px;
}

.home .type-projects .tech-list span {
    font-size: 12px;
}

.home .colors-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 50%;
    position: relative;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.home .colors-list li {
    display: inline-block;
    padding: 2px;
}

.home .colors-list span {
    display: block;
    width: 30px;
    height: 18px;
    box-shadow: inset 0 0px 4px #969696;
}

.single-projects .entry-content {
    margin-top: 20px;
}

.single-projects .tech-list {
    margin-top: 20px;
}

.site-footer {
    background: #0b0100;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 35px;
    text-align: center;
}

.site-info {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 600px) {
    .home .type-projects.projects {
        float: none;
        margin: 35px auto auto auto;
        display: table;
        clear: both;
        width: 100%;
        max-width: 420px;
    }
}

@media only screen and (max-width: 480px) {
    #menu {
        cursor: pointer;
        position: relative;
        height: 17px;
        display: block;
    }
    #menu span {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        position: relative;
    }
    #menu span:first-child {
        top: 0;
    }
    #menu span:nth-child(2) {
        top: 5px;
    }
    #menu span:last-child {
        top: 10px;
    }
    .site-header .row {
        position: relative;
    }
    #site-navigation {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background: #000;
        z-index: 2;
        background: #000;
        z-index: 2;
        box-shadow: 0 1px 5px #585858;
    }
    .primary-menu a {
        display: block;
        text-align: left;
        padding: 6px 5px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-perspective: none;
        perspective: none;
    }
    .primary-menu a:hover span,
    .primary-menu a:focus span {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        color: #ef4a51;
    }
    .primary-menu li {
        display: block;
    }
    .menu-item-name {
        display: block;
    }
    .menu-item-name:before {
        content: none;
    }
}
